examples/cloud-Get all apps.json
[
    {
        "id": "a7048cfe61638c27",
        "type": "qscloud-app",
        "z": "97a01b7c6e63b834",
        "name": "Empty list of app IDs",
        "tenant": "a329efb577d33158",
        "op": "r",
        "appId": "",
        "appSource1": "predefined",
        "appSource2": "msg-in",
        "x": 500,
        "y": 80,
        "wires": [["fa636a6d8d4fdf8c", "cffcc056c58a323a"]]
    },
    {
        "id": "b066b70b5212b81a",
        "type": "inject",
        "z": "97a01b7c6e63b834",
        "name": "Get info about all apps",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 80,
        "wires": [["a7048cfe61638c27"]]
    },
    {
        "id": "fa636a6d8d4fdf8c",
        "type": "debug",
        "z": "97a01b7c6e63b834",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 80,
        "wires": []
    },
    {
        "id": "cffcc056c58a323a",
        "type": "debug",
        "z": "97a01b7c6e63b834",
        "name": "App count",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.app.length",
        "targetType": "msg",
        "statusVal": "payload.appExist.length",
        "statusType": "auto",
        "x": 850,
        "y": 120,
        "wires": []
    },
    {
        "id": "a329efb577d33158",
        "type": "qscloud-tenant",
        "name": "Dummy API key authorisation",
        "tenant": "abcdefgh123456789",
        "region": "eu",
        "authType": "apikey",
        "clientId": "",
        "clientSecret": "",
        "apiKey": "abcdefgh123456789abcdefgh123456789abcdefgh123456789"
    }
]
