examples/QSEoW-app-Find rarely reloaded apps.json
[
    {
        "id": "86b37d1094483a08",
        "type": "inject",
        "z": "adaddf859632b31a",
        "name": "Get all apps",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 1360,
        "wires": [["0de86587e469d5d7"]]
    },
    {
        "id": "76528f3f24a31f92",
        "type": "debug",
        "z": "adaddf859632b31a",
        "name": "Result (single JSON for all apps)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 1320,
        "wires": []
    },
    {
        "id": "42fcb2f42246e716",
        "type": "debug",
        "z": "adaddf859632b31a",
        "name": "Result (one msg for each app)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 1480,
        "wires": []
    },
    {
        "id": "03c3af43544910f1",
        "type": "switch",
        "z": "adaddf859632b31a",
        "name": "Last reload was during 2018",
        "property": "payload.lastReloadTime",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "2018-01-01",
                "vt": "str",
                "v2": "2018-12-31",
                "v2t": "str"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 1,
        "x": 800,
        "y": 1380,
        "wires": [["c73807a4c2963c91"]]
    },
    {
        "id": "4e11aca3b7cc232b",
        "type": "switch",
        "z": "adaddf859632b31a",
        "name": "Apps never reloaded",
        "property": "payload.lastReloadTime",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1753-01-01T00:00:00.000Z",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 1,
        "x": 780,
        "y": 1440,
        "wires": [["d76f0b2d89f74a33"]]
    },
    {
        "id": "7c590ad6a9ab29c1",
        "type": "comment",
        "z": "adaddf859632b31a",
        "name": "Find rarely used apps",
        "info": "",
        "x": 120,
        "y": 1300,
        "wires": []
    },
    {
        "id": "0de86587e469d5d7",
        "type": "qseow-app",
        "z": "adaddf859632b31a",
        "name": "Get apps",
        "server": "18609cb899039437",
        "op": "r",
        "appId": "",
        "appSource1": "predefined",
        "x": 280,
        "y": 1360,
        "wires": [["76528f3f24a31f92", "77300fb3752911e4"]]
    },
    {
        "id": "692694199c987e2d",
        "type": "split",
        "z": "adaddf859632b31a",
        "name": "Split into one msg per app",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 480,
        "y": 1440,
        "wires": [["42fcb2f42246e716", "03c3af43544910f1", "4e11aca3b7cc232b"]]
    },
    {
        "id": "77300fb3752911e4",
        "type": "change",
        "z": "adaddf859632b31a",
        "name": "Create array of found apps",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.app",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1360,
        "wires": [["692694199c987e2d"]]
    },
    {
        "id": "c73807a4c2963c91",
        "type": "join",
        "z": "adaddf859632b31a",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 990,
        "y": 1380,
        "wires": [["9e1c14c4fb96eae0", "45721691d5e43969"]]
    },
    {
        "id": "9e1c14c4fb96eae0",
        "type": "debug",
        "z": "adaddf859632b31a",
        "name": "Apps",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 1320,
        "wires": []
    },
    {
        "id": "45721691d5e43969",
        "type": "debug",
        "z": "adaddf859632b31a",
        "name": "App count",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.length",
        "targetType": "msg",
        "statusVal": "payload.length",
        "statusType": "auto",
        "x": 1170,
        "y": 1360,
        "wires": []
    },
    {
        "id": "b131ee3648ca2e0d",
        "type": "debug",
        "z": "adaddf859632b31a",
        "name": "Apps",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 1440,
        "wires": []
    },
    {
        "id": "cb4ff34a5256cd7a",
        "type": "debug",
        "z": "adaddf859632b31a",
        "name": "App count",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.length",
        "targetType": "msg",
        "statusVal": "payload.length",
        "statusType": "auto",
        "x": 1170,
        "y": 1480,
        "wires": []
    },
    {
        "id": "d76f0b2d89f74a33",
        "type": "join",
        "z": "adaddf859632b31a",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 990,
        "y": 1440,
        "wires": [["b131ee3648ca2e0d", "cb4ff34a5256cd7a"]]
    },
    {
        "id": "18609cb899039437",
        "type": "qseow-sense-server",
        "name": "",
        "protocol": "https",
        "host": "192.168.111.111",
        "port": "4242",
        "authType": "cert",
        "certFile": "/secret/client.pem",
        "keyFile": "/secret/client_key.pem",
        "certCaFile": "",
        "jwt": ""
    }
]
