examples/QSEoW-app-Duplicate apps.json
[
    {
        "id": "2666f6223a02c849",
        "type": "comment",
        "z": "adaddf859632b31a",
        "name": "Duplicate apps",
        "info": "",
        "x": 100,
        "y": 520,
        "wires": []
    },
    {
        "id": "2bf3773f39502797",
        "type": "inject",
        "z": "adaddf859632b31a",
        "name": "2 valid app IDs, 1 invalid",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"sourceAppId\":\"4788dc51-2bf6-45f0-a4ad-8bd8d40e1d3f\",\"newAppName\":\"Butler test failing reloads app2\",\"includeCustomProperties\":false},{\"sourceAppId\":\"4788dc51-2bf6-45f0-a4ad-8bd8d40e1d3a\"},{\"sourceAppId\":\"4788dc51-2bf6-45f0-a4ad-8bd8d40e1d3f\"}]",
        "payloadType": "json",
        "x": 170,
        "y": 560,
        "wires": [["58287bf6142c2c36"]]
    },
    {
        "id": "7256a3005ef0e725",
        "type": "debug",
        "z": "adaddf859632b31a",
        "name": "One msg for all apps",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 520,
        "wires": []
    },
    {
        "id": "58287bf6142c2c36",
        "type": "qseow-app",
        "z": "adaddf859632b31a",
        "name": "Duplicate",
        "server": "18609cb899039437",
        "op": "dupl",
        "appId": "\n\nad61b901-3343-4bbf-b3e6-aa3ee333abef\n\n7e5866aa-dd2b-42aa-81fc-3765e0d7cf4b\n7e5866aa-dd2b-42aa-81fc-3765e0d7cf4c\n",
        "appSource2": "msg-in",
        "x": 380,
        "y": 560,
        "wires": [["7256a3005ef0e725", "226a97a7b069eda9"]]
    },
    {
        "id": "226a97a7b069eda9",
        "type": "change",
        "z": "adaddf859632b31a",
        "name": "Create array of new apps",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.appCreated",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 560,
        "wires": [["42803ef95643a98b"]]
    },
    {
        "id": "42803ef95643a98b",
        "type": "split",
        "z": "adaddf859632b31a",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 530,
        "y": 620,
        "wires": [["d22ddd57b85b2e42"]]
    },
    {
        "id": "d22ddd57b85b2e42",
        "type": "debug",
        "z": "adaddf859632b31a",
        "name": "One msg per app",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 620,
        "wires": []
    },
    {
        "id": "18609cb899039437",
        "type": "qseow-sense-server",
        "name": "",
        "protocol": "https",
        "host": "192.168.111.111",
        "port": "4242",
        "authType": "cert",
        "certFile": "/secret/client.pem",
        "keyFile": "/secret/client_key.pem",
        "certCaFile": "",
        "jwt": ""
    }
]
