examples/QSEoW-tag-Create tags.json
[
    {
        "id": "56884cd30ec21d4b",
        "type": "inject",
        "z": "0b5596fd57f8cd30",
        "name": "Create tags set in tag node",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 80,
        "wires": [["e63d313e54903994"]]
    },
    {
        "id": "ec3e646427c0895d",
        "type": "inject",
        "z": "0b5596fd57f8cd30",
        "name": "Create tags included in this message",
        "props": [
            {
                "p": "payload.tagName",
                "v": "[\"startTask10\",\"startTask1\",\"startTask11\"]",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 160,
        "wires": [["7b5c399a4b6c99a3"]]
    },
    {
        "id": "7b5c399a4b6c99a3",
        "type": "qseow-tag",
        "z": "0b5596fd57f8cd30",
        "name": "",
        "server": "18609cb899039437",
        "op": "c",
        "tagName": "",
        "tagSource": "msg-in",
        "x": 530,
        "y": 160,
        "wires": [["20c3e2607b67b2ec"]]
    },
    {
        "id": "e63d313e54903994",
        "type": "qseow-tag",
        "z": "0b5596fd57f8cd30",
        "name": "",
        "server": "18609cb899039437",
        "op": "c",
        "tagName": "# Tags\nstartTask10\n\n# Some more tags\nstartTask1\nstartTask11\n\n",
        "tagSource": "predefined",
        "x": 530,
        "y": 80,
        "wires": [["3939d2372231b866"]]
    },
    {
        "id": "3939d2372231b866",
        "type": "debug",
        "z": "0b5596fd57f8cd30",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 80,
        "wires": []
    },
    {
        "id": "20c3e2607b67b2ec",
        "type": "debug",
        "z": "0b5596fd57f8cd30",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 160,
        "wires": []
    },
    {
        "id": "c5abda2f1e07286b",
        "type": "comment",
        "z": "0b5596fd57f8cd30",
        "name": "Create tags",
        "info": "",
        "x": 90,
        "y": 40,
        "wires": []
    },
    {
        "id": "8cf5d35c44f2746f",
        "type": "inject",
        "z": "0b5596fd57f8cd30",
        "name": "Create tags included in this message (empty)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 250,
        "y": 200,
        "wires": [["7b5c399a4b6c99a3"]]
    },
    {
        "id": "18609cb899039437",
        "type": "qseow-sense-server",
        "name": "",
        "protocol": "https",
        "host": "192.168.111.111",
        "port": "4242",
        "authType": "cert",
        "certFile": "/secret/client.pem",
        "keyFile": "/secret/client_key.pem",
        "certCaFile": "",
        "jwt": ""
    }
]
