examples/QSEoW-app-Duplicate then delete created apps.json
[
    {
        "id": "0560045038759152",
        "type": "inject",
        "z": "adaddf859632b31a",
        "name": "Duplicate two apps, then delete them",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"sourceAppId\":\"4788dc51-2bf6-45f0-a4ad-8bd8d40e1d3f\",\"newAppName\":\"Butler test failing reloads app2\",\"includeCustomProperties\":false},{\"sourceAppId\":\"4788dc51-2bf6-45f0-a4ad-8bd8d40e1d3f\"}]",
        "payloadType": "json",
        "x": 230,
        "y": 1620,
        "wires": [
            [
                "ba26b42ace59e4b7"
            ]
        ]
    },
    {
        "id": "2b30f58460344292",
        "type": "debug",
        "z": "adaddf859632b31a",
        "name": "One msg for all apps",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1620,
        "wires": []
    },
    {
        "id": "ba26b42ace59e4b7",
        "type": "qseow-app",
        "z": "adaddf859632b31a",
        "name": "Duplicate",
        "server": "18609cb899039437",
        "op": "dupl",
        "appId": "\n\nad61b901-3343-4bbf-b3e6-aa3ee333abef\n\n7e5866aa-dd2b-42aa-81fc-3765e0d7cf4b\n7e5866aa-dd2b-42aa-81fc-3765e0d7cf4c\n",
        "appSource2": "msg-in",
        "x": 480,
        "y": 1620,
        "wires": [
            [
                "2b30f58460344292",
                "49a3a59b9f58969b"
            ]
        ]
    },
    {
        "id": "8387aa1afb661c1e",
        "type": "change",
        "z": "adaddf859632b31a",
        "name": "Create array of new apps",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.appCreated",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1700,
        "wires": [
            [
                "ed6b598c52e556df"
            ]
        ]
    },
    {
        "id": "ed6b598c52e556df",
        "type": "split",
        "z": "adaddf859632b31a",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 530,
        "y": 1700,
        "wires": [
            [
                "d8664d92d01984ec",
                "6255ab005151a89c"
            ]
        ]
    },
    {
        "id": "d8664d92d01984ec",
        "type": "debug",
        "z": "adaddf859632b31a",
        "name": "One msg for each new app",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 1700,
        "wires": []
    },
    {
        "id": "a9a82fb2975ca27f",
        "type": "qseow-app",
        "z": "adaddf859632b31a",
        "name": "Delete",
        "server": "18609cb899039437",
        "op": "d",
        "appId": "\n\nad61b901-3343-4bbf-b3e6-aa3ee333abef\n\n7e5866aa-dd2b-42aa-81fc-3765e0d7cf4b\n7e5866aa-dd2b-42aa-81fc-3765e0d7cf4c\n",
        "appSource2": "msg-in",
        "x": 890,
        "y": 1780,
        "wires": [
            [
                "93ea90307c691b36"
            ]
        ]
    },
    {
        "id": "93ea90307c691b36",
        "type": "debug",
        "z": "adaddf859632b31a",
        "name": "Deleted apps",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 1780,
        "wires": []
    },
    {
        "id": "6255ab005151a89c",
        "type": "change",
        "z": "adaddf859632b31a",
        "name": "Prep for delete of created apps",
        "rules": [
            {
                "t": "set",
                "p": "_appId",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "_appId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 1780,
        "wires": [
            [
                "0dac438220efe4d7"
            ]
        ]
    },
    {
        "id": "0dac438220efe4d7",
        "type": "join",
        "z": "adaddf859632b31a",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 530,
        "y": 1780,
        "wires": [
            [
                "22ec832ecc41fd86"
            ]
        ]
    },
    {
        "id": "49a3a59b9f58969b",
        "type": "delay",
        "z": "adaddf859632b31a",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 140,
        "y": 1700,
        "wires": [
            [
                "8387aa1afb661c1e"
            ]
        ]
    },
    {
        "id": "22ec832ecc41fd86",
        "type": "change",
        "z": "adaddf859632b31a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.appId",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1780,
        "wires": [
            [
                "a9a82fb2975ca27f"
            ]
        ]
    },
    {
        "id": "6747b5c2c0088c35",
        "type": "debug",
        "z": "adaddf859632b31a",
        "name": "App count",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.app.length",
        "targetType": "msg",
        "statusVal": "payload.appExist.length",
        "statusType": "auto",
        "x": 470,
        "y": 1840,
        "wires": []
    },
    {
        "id": "97590f7c50870be3",
        "type": "qseow-app",
        "z": "adaddf859632b31a",
        "name": "",
        "server": "18609cb899039437",
        "op": "r",
        "appId": "",
        "appSource1": "predefined",
        "x": 310,
        "y": 1840,
        "wires": [
            [
                "6747b5c2c0088c35"
            ]
        ]
    },
    {
        "id": "5daa3cbbaf243f1c",
        "type": "inject",
        "z": "adaddf859632b31a",
        "name": "Get app count",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 1840,
        "wires": [
            [
                "97590f7c50870be3"
            ]
        ]
    },
    {
        "id": "8415dd30d11e91eb",
        "type": "comment",
        "z": "adaddf859632b31a",
        "name": "Duplicate apps, then delete the created apps",
        "info": "",
        "x": 190,
        "y": 1580,
        "wires": []
    },
    {
        "id": "18609cb899039437",
        "type": "qseow-sense-server",
        "name": "",
        "protocol": "https",
        "host": "192.168.111.111",
        "port": "4242",
        "authType": "cert",
        "certFile": "/secret/client.pem",
        "keyFile": "/secret/client_key.pem",
        "certCaFile": "",
        "jwt": ""
    }
]