examples/QSEoW-task-Start predefined tasks.json
[
    {
        "id": "c3d686d09f2283ff",
        "type": "inject",
        "z": "bcfe6034b93adf44",
        "name": "Start tasks",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "e2e3a8254bfa1902"
            ]
        ]
    },
    {
        "id": "96e621fd8b85208d",
        "type": "debug",
        "z": "bcfe6034b93adf44",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 100,
        "wires": []
    },
    {
        "id": "e2e3a8254bfa1902",
        "type": "qseow-task",
        "z": "bcfe6034b93adf44",
        "name": "Start Sense tasks",
        "server": "18609cb899039437",
        "op": "start",
        "taskId": "# Reload tasks\neb018d95-8c0c-4613-9081-82b3822ecca2\n244ca6a8-8c20-488d-aed2-504048dd4516\n\n# External program tasks\nd6bfc66a-393b-4eea-8ecd-1b1629c91683\n\n# Non-existing tasks\nd6bfc66a-393b-4eea-8ecd-1b1629c91682\n",
        "taskSource1": "predefined",
        "x": 470,
        "y": 100,
        "wires": [
            [
                "96e621fd8b85208d"
            ]
        ]
    },
    {
        "id": "594ea5d7c5709b99",
        "type": "comment",
        "z": "bcfe6034b93adf44",
        "name": "Start a set of predefined tasks",
        "info": "",
        "x": 160,
        "y": 60,
        "wires": []
    },
    {
        "id": "18609cb899039437",
        "type": "qseow-sense-server",
        "name": "",
        "protocol": "https",
        "host": "192.168.111.111",
        "port": "4242",
        "authType": "cert",
        "certFile": "/secret/client.pem",
        "keyFile": "/secret/client_key.pem",
        "certCaFile": "",
        "jwt": ""
    }
]