examples/QSEoW-task-Start predefined tasks when a http webhook is called.json
[
    {
        "id": "a22db39bf0489e24",
        "type": "http request",
        "z": "bcfe6034b93adf44",
        "name": "GET /butlerdemo/qseow-task-1",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/butlerdemo/qseow-task-1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 460,
        "y": 620,
        "wires": [["df4179609578a919"]]
    },
    {
        "id": "471e61943e1795bd",
        "type": "inject",
        "z": "bcfe6034b93adf44",
        "name": "Call webhook",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 620,
        "wires": [["a22db39bf0489e24"]]
    },
    {
        "id": "df4179609578a919",
        "type": "debug",
        "z": "bcfe6034b93adf44",
        "name": "Result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 620,
        "wires": []
    },
    {
        "id": "66de44ccf4a3069d",
        "type": "http in",
        "z": "bcfe6034b93adf44",
        "name": "GET /butlerdemo/qseow-task-1",
        "url": "/butlerdemo/qseow-task-1",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 680,
        "wires": [["3928876e5551288e", "d54e916b17658a17"]]
    },
    {
        "id": "3928876e5551288e",
        "type": "qseow-task",
        "z": "bcfe6034b93adf44",
        "name": "Start Sense tasks",
        "server": "18609cb899039437",
        "op": "start",
        "taskId": "eb018d95-8c0c-4613-9081-82b3822ecca2\n244ca6a8-8c20-488d-aed2-504048dd4516\nd6bfc66a-393b-4eea-8ecd-1b1629c91683",
        "taskSource1": "predefined",
        "x": 470,
        "y": 680,
        "wires": [["8a00a0c986c7e314"]]
    },
    {
        "id": "d54e916b17658a17",
        "type": "http response",
        "z": "bcfe6034b93adf44",
        "name": "Send http response",
        "statusCode": "200",
        "headers": {},
        "x": 480,
        "y": 740,
        "wires": []
    },
    {
        "id": "8a00a0c986c7e314",
        "type": "debug",
        "z": "bcfe6034b93adf44",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 680,
        "wires": []
    },
    {
        "id": "aeb7ed41b23c8f85",
        "type": "comment",
        "z": "bcfe6034b93adf44",
        "name": "Start a set of predefined tasks when a http webhook is called",
        "info": "",
        "x": 260,
        "y": 580,
        "wires": []
    },
    {
        "id": "18609cb899039437",
        "type": "qseow-sense-server",
        "name": "",
        "protocol": "https",
        "host": "192.168.111.111",
        "port": "4242",
        "authType": "cert",
        "certFile": "/secret/client.pem",
        "keyFile": "/secret/client_key.pem",
        "certCaFile": "",
        "jwt": ""
    }
]
